body {
    background-color: #f8f8f8;
}

.title {
    color: #588BE6;
    font-weight: bold;
    font-size: 50px;
}
.menu li a{
    color: #6EE1E6;
    font: bold 18px sans-serif;
    text-decoration: none;
}

.menu {
    list-style-type: none;
    padding: 0;
}

.dress h3 {
    color: black;
    font-weight: 400;
    font-size: 18px;
    background: #eaeaea;
}

.description {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.full-description {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.full-description:first-letter {
    color: red;
    font-size: 30px;
    font-weight: bold;
}

.type li {
    font: 400 16px sans-serif;
    list-style-image: url(img/star.jpg);
}

label {
    display: block;
    margin-bottom: 2px;
}

input[type="text"], textarea {
    height: 16px;
    width: 270px;
    color: #571337;
    font-size: 15px;
    font-style: italic;
    border-width: 1px;
}

img[alt="Вечернее платье"] {
    outline: 2px solid #E2D4E6;
}

img[alt="Вечернее платье"]:hover {
    outline: none;
}

img[alt="Винтажное платье"] {
    outline: 2px solid #E2D4E6;
}

img[alt="Винтажное платье"]:hover {
    outline: none;
}

.menu li a:hover {
    color: #E6B557;
}

label:nth-child(2) input {
    color:blue;
    background-color: antiquewhite;
}

label:nth-child(2) input::placeholder {
    background-color: white;
}

label input, textarea {
    text-transform: capitalize;
}

input::placeholder {
    text-transform: none;
}

table {
    border: 1px solid #6EE1E6;
    border-collapse: collapse;
}

td {
    border: 1px solid #6EE1E6;
    padding: 2px 10px;
}

thead td {
    height: 30px;
    text-align: center;
    font-weight: bold;
}

td:nth-child(3n) {
    font-style: italic;
}

.container {
    width: 910px;
    margin: 0 auto;
}

.header {
    height: 150px;
    background-image: url(../img/background.jpg);
}

.logo {
    margin-left: 100px;
    float: left;
}

.wrapper {
    float: right;
}

.menu li {
    display: inline-block;
}

h1 {
    margin: 0;
}

.footer {
    height: 50px;
    margin: 0 auto;
    background-color: #DBFCDB;
    text-align: right;
}

.footer .container {
    padding-right: 100px;
    padding-top: 15px;
}

.products {
    display: flex;
}

.product {
    margin: 0 5px;
}

.info {
    display: flex;
}

.info__description {
    margin-left: 10px;
}

input[type="button"]:hover {
    color: lightgreen;
    font-weight: bold;
    background-color: white;
}

input[type="button"]:active {
    color: plum;
    font-weight: bold;
    background-color: #919177;
}